<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="bosh-pago.html">

<link rel="import" href="../../css/bootstrap-min-style.html">
<link rel="import" href="../../css/main-style.html">
<link rel="import" href="../../css/estilos-style.html">


<dom-module id="bosh-auto">
  <template>
    <style include="bootstrap-min-style"></style>
    <style include="main-style"></style>
    <style include="estilos-style"></style>


    <style>
      :host {
        display: block;
      }

    </style>

    <section id="advertisement">
      <div class="container">
        <img src="../../images/auto/creditoauto.JPG" alt="" />
      </div>
    </section>

    <section class="form_wrap">

      <section class="cantact_info">
      </section>

      <div class="form_contact">
        <h2>Credito Automotriz</h2>
        <div id="divCredito" class="user_info" style="display: block;">
          <label for="modelo">Modelo</label>
          <input type="modelo" id="modelo" value="{{modelo::input}}">

          <label for="monto">Monto</label>
          <input type="monto" id="monto" value="{{monto::input}}">

          <label for="enganche">Enganche</label>
          <input type="enganche" id="enganche" value="{{enganche::input}}">

          <label for="total">Total</label>
          <input type="total" id="total" value="{{total::input}}">

          <label for="mensualidades">Mensualidades</label>
          <input type="mensualidades" id="mensualidades" value="{{mensualidades::input}}">

          <button on-click="btnSend">Enviar</button>

        </div>

        <div id="divPago" style="display: none;">
          <bosh-pago importe=[[importe]]></bosh-pago>
        </div>
      </div>

    </section>

    <iron-ajax
      id="doAuto"
      url="http://localhost:3000/auto"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method = "POST"
      handle-as = "json"
      headers = "Access-Control-Allow-Headers2: *"
      on-response = "manageAJAXResponse"
      on-error = "showError">

  </template>

  <script>
  class BoshAuto extends Polymer.Element {
    static get is() { return 'bosh-auto'; }
    static get properties() {
      return {
        prop1: {
          type: String,
          value: 'bosh-auto'
        },
        importe: {
          type: Number,
          value: 0
        },
//ivette-ini
        modelo: {
          type: String,
          value: 0
        },
        monto: {
          type: String,
          value: 0
        },
        enganche: {
          type: String,
          value: 0
        },
        total: {
          type: String,
          value: 0
        },
          mensualidades: {
          type: String,
          value: 0
        }
//ivette-fin
      };
    }
    btnSend(){

      //ivette-ini

              var crediData = {
                "modelo" : this.modelo,
                "monto" : this.monto,
                "enganche" : this.enganche,
                "total" : this.total,
                "mensualidades" : this.mensualidades
              };
              console.log(crediData);
              this.$.doAuto.body = JSON.stringify(crediData);
              this.$.doAuto.generateRequest();
              console.log("Petición enviada")

      //ivette-fin

      let lModelo = this.$.modelo.value;
      let lMonto = this.$.monto.value;
      let lEnganche = this.$.enganche.value;
      let lTotal = this.$.total.value;
      let lMensualidades = this.$.mensualidades.value;
      alert("Modelo:"+lModelo+ " Monto:"+lMonto+ " Enganche:"+ lEnganche+ " Total:"+lTotal+ " Mensualidades:"+lMensualidades);

      this.importe = lEnganche;
      this.$.divCredito.style.display="none";
      this.$.divPago.style.display="block";

    }
    //ivette-ini
          manageAJAXResponse(){
            console.log("Respuesta recibida del servicio api rest apimx20201");
            //console.log(data.detail.response);
            this.logado = true;
          }
          showError(){
            console.log("Hubo un error en iron-ajax");
            alert("Datos ingresados incorrectos, por favor valide");
            console.log(error);
            this.logado = false;
          }
    //ivette-fin
  }

  window.customElements.define(BoshAuto.is, BoshAuto);
</script>
</dom-module>
