<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../css/bootstrap-min-style.html">
<link rel="import" href="../../css/main-style.html">
<link rel="import" href="../../css/estilos-style.html">


<dom-module id="bosh-pago">
  <template>
    <style include="bootstrap-min-style"></style>
    <style include="main-style"></style>
    <style include="estilos-style"></style>

    <!--/Ivette ini-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!--/Ivette fin-->

    <style>
      :host {
        display: block;
      }

    </style>
    <h2>[[msj]]</h2>
    <div id="divPago" class="form_contact user_info" style="display: block;">
      <label for="cuenta_ordenate">Cuenta ordenante</label>
      <input type="cuenta_ordenante" id="cuenta_ordenante" value="{{cuenta_ordenante::input}}">

      <label for="cuenta_beneficiaria">Cuenta Beneficiaria</label>
      <input type="cuenta_beneficiaria" id="cuenta_beneficiaria" value="{{cuenta_beneficiaria::input}}">

      <label for="importe">Importe</label>
      <input type="importe" id="importe" value="[[importe]]" disabled>

      <label for="divisa">Divisa</label>
      <input type="divisa" id="divisa" value="MXP" disabled>

      <label for="fecha">Fecha</label>
      <input type="fecha" id="fecha" value="[[fecha]]" disabled>

      <button on-click="btnPagar">Pagar</button>

    </div>

    <iron-ajax
      id="doPago"
      url="http://localhost:3000/pago"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method = "POST"
      handle-as = "json"
      headers = "Access-Control-Allow-Headers2: *"
      on-response = "manageAJAXResponse"
      on-error = "showError">

  </template>

  <script>
    class BoshPago extends Polymer.Element {
      static get is() { return 'bosh-pago'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'bosh-pago'
          },
          importe: {
            type: Number
          },
          fecha:{
            type: Date
          },
          msj:{
            type: String,
            value: ''
          },

          cuenta_ordenante:{
            type: String
          },
          cuenta_beneficiaria:{
            type: String
          }

        };
      }
      ready(){
        super.ready();
        let hoy = new Date();
        let dd = hoy.getDate();
        let mm = hoy.getMonth()+1;
        let yyyy = hoy.getFullYear();
        this.fecha = dd+"/"+mm+"/"+yyyy;
      }
      btnPagar(){

        var crediData = {
          "cuenta_ordenante" : this.cuenta_ordenante,
          "cuenta_beneficiaria" : this.cuenta_beneficiaria,
          "importe" : this.importe,
          "divisa" : this.divisa,
          "fecha" : this.fecha
        };
        console.log(crediData);
        this.$.doPago.body = JSON.stringify(crediData);
        this.$.doPago.generateRequest();
        console.log("Petición enviada")

        let lCta_ordenante = this.$.cuenta_ordenante.value;
        let lCta_beneficiaria = this.$.cuenta_beneficiaria.value;
        let lImporte = this.$.importe.value;
        let ldivisa = this.$.divisa.value;
        let lFecha = this.$.fecha.value;

        alert(lCta_ordenante+ " : "+ lCta_beneficiaria + " : "+lImporte+ " : "+ldivisa+ " : "+lFecha)


        let lmsj = "ok";
        if(lmsj == "ok"){
          this.msj = "Pago correctamente";
          this.$.divPago.style.display="none";
        }else{
          this.msj = "No se pudo realizar el pago";
        }
      }

      manageAJAXResponse(){
        console.log("Respuesta recibida del servicio api rest apimx20201");
        //console.log(data.detail.response);
        this.logado = true;
      }
      showError(){
        console.log("Hubo un error en iron-ajax");
        alert("Datos ingresados incorrectos, por favor valide");
        console.log(error);
        this.logado = false;
      }

    }

    window.customElements.define(BoshPago.is, BoshPago);
  </script>
</dom-module>
